body {
    font-family: sans-serif;
    padding-top: 100px;
}


/*nav style*/
nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

nav.menu-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    padding-right: 45px;
    padding-left: 45px;
    align-items: center;
    position: fixed; 
    top: 0;         
    width: 100%;     
    z-index: 1000;   
    background-color: white; 
    border-bottom: solid 1px #cfcfcf;
    box-sizing: border-box;
}

.nav-container {
    display: flex;
    border: solid 1px;
    border-radius: 20px;
    border-color: #cfcfcf;
    color: #4d4d4d;
}

.nav-item {
    padding: 8px;
    padding-left: 20px;
    padding-right: 20px;
    color:#353d46;
    text-decoration: none;
}

.home-button:focus, .home-button:active, .home-button:hover {
    outline: none;
    background-color: #f7f7f7; 
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.package-button:focus, .package-button:active, .package-button:hover {
    outline: none;
    background-color: #f7f7f7; 
}

.call-button:focus, .call-button:active, .call-button:hover {
    outline: none;
    background-color: #f7f7f7;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.logo-icon {
    background-image: url(https://i.pinimg.com/736x/fd/64/5e/fd645ebf342f6e6b742eb350ecc55eab.jpg);
    width: 50px;
    height: 35px;
    background-size: cover;
    background-size: 100%;
}

.scroll-offset {
    padding-top: 120px;
    margin-top: -120px;
}

/*main style*/
main {
    margin: 25px;
}

.main-title {
    text-align: center;
}

.header-title {
    font-weight: 1000;
    color: #353d46;
    font-size: xxx-large;
    margin-bottom: 0;
    padding-top: 20px;
}

.main-article {
    font-style: italic;
    color: #353d46;
}

.main-content {
    display: flex;
}


/*home page style*/
.main-content-item {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    margin-top: 0px;
    box-sizing: border-box;
}

.main-content-banner {
    display: contents;
}


/*form style*/
.main-content-form {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    color: #3b3b3b;
    border: solid 1px;
    border-color: #cfcfcf;
    height: fit-content;
    width: calc(100% - 40px);
    box-sizing: border-box;
}

.error-indicator {
    font-size: small;
    color: red;
    padding-left: 12px;
    margin-top: 0;
}

.success {
    font-size: small;
    color: green;
    padding-left: 12px;
    margin-top: 0;
}

input {
    width: 95%;
    padding: 12px 12px;
    display: inline-block;
    border: solid 1px;
    border-color: #cfcfcf;
    border-radius: 20px;
    box-sizing: border-box;
    margin: 10px;
    margin-top: 5px;
    align-content: center;
}

.option {
    width: 95%;
    height: 43px;
    padding: 12px;
    display: inline-block;
    border: solid 1px;
    border-color: #cfcfcf;
    border-radius: 20px;
    box-sizing: border-box;
    margin: 10px;
    margin-top: 5px;
    align-content: center;
    background-color: white;
    color: #858585;
}

select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

button {
    width: 95%;
    height: 43px;
    padding: 12px 20px;
    display: inline-block;
    border-radius: 22px;
    box-sizing: border-box;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
    margin-top: 0px;
    border: none;
    background-color: #353d46;
    color: white;
    font-weight: 1000;
}

.fill-in {
    margin-bottom: 0px;
    margin-left: 12px;
    font-weight: bold;
    font-size: small;
    text-align: start;
    margin-top: 0;
}

.contact-us {
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 12px;
    margin-right: 12px;
    font-weight: 1000;
    color: #353d46;
}

.description {
    margin-top: 10px;
    margin-bottom: 25px;
    margin-left: 12px;
    margin-right: 12px;
}


/*article style*/
.image-slideshow {
    max-width: 95%;
    max-height: 95%;
    margin: 20px;
    border-radius: 10px;
}

.item-icon {
    height: 42px;
    width: 42px;
    border-radius: 50%;
}

.main-item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 30px;
    padding-right: 30px;
}

.banner-desc {
    font-style: italic;
    padding-left: 30px;
    padding-right: 30px;
    color: #858585;
    margin-top: 0
}

.main-text {
    padding-left: 15px;
    padding-right: 15px;
}

.explanation {
    color: #353d46;
    width: 45%;
    padding-left: 10px;
}


/*feature style*/
.number-list {
    background-color:#353d46;
    padding: 10px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 1000;
    color: white;
}

.main-content-feature {
        display: flex;
        flex-direction: column;
        margin-left: 12px;
        margin-right: 12px;
        margin-bottom: 60px;
}

.feature-list {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 8px;
}

.feature-text {
        padding-left: 15px;
        padding-right: 15px;
        width: 35%;
}


/*our package page style*/
.our-package {
    height: 200px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: xx-large;
    position: relative;
}

.header-wrapper {
    background-color: #353d46;
    padding: 20px; 
    width: 100%;
    display: flex;
    justify-content: center;
}

article#our-package-page.our-package {
    margin-bottom: 100px;
}

.package-list {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    padding-left: 8px;
    justify-content: center;
    align-items: flex-start;
}

.location {
    padding-left: 20px;
    padding-right: 20px;
}

.package-icon {
        width: 42px;
        height: 42px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: none;
        filter: invert(16%) sepia(10%) saturate(330%) hue-rotate(170deg) brightness(93%) contrast(87%);
        
}

.icon-text {
    display: flex;
    align-items: center;
}

.hidden {
    display: none;
}

/*call us page style*/
main#call-us-page {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main h1 {
    font-weight: 1000;
    text-align: center;
    color: #353d46;
    font-size: xxx-large;
    margin-bottom: 0;
    margin-top: 0;
}

.closing {
    color: #888888;
}

.class-to-action {
    width: 150px;
    font-weight: 1000;
    margin-top: 12px;
}

/*footer style*/
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

footer div.logo-icon {
    background-image: url(https://i.pinimg.com/736x/fd/64/5e/fd645ebf342f6e6b742eb350ecc55eab.jpg);
    width: 50px;
    height: 35px;
    margin: 0;
}

.privacy {
    display: flex;
    flex-direction: row;
}

.copyright {
    display: flex;
    flex-direction: row;
}

footer div p {
    margin: 12px;
    font-size: small;
    color:#858585;
}



/*responsive style*/
@media only screen and (max-width: 600px) {
    .menu-wrapper {
        display: flex;
        flex-direction: column;
    }

    .logo-icon {
        margin-bottom: 15px;
    }

    .main-content {
        flex-direction: column;
    }

    .package-list {
        flex-direction: column;   
    }

    .explanation {
        width: 100%;
    }

    .feature-text {
        width: 100%;
    }

    nav.menu-wrapper {
        padding: 20px;
    }

    body {
        padding-top: 130px;
    }

    .icon-text {
        padding-bottom: 30px;
    }

    .our-package {
        margin-bottom: 50px;
    }

 }


@media only screen and (min-width: 768px) {
    .main-content-form {
        width: calc(70% - 40px);
    }

    .icon-text {
        width: 100%;
    }
}